.background-image{
    position: relative;
    width: 100vw;
    height: 30vh;
}

.smooth-blur{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    filter: blur(20px);
}

.background-image > img{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(20px);
}
