.download-page{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 500px;
    height: 500px;
    background-color: rgb(48, 46, 56);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px 0px;
    overflow: hidden;
}

.download-welcome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    font-family: 'Tahoma';
}

.download-beatmaplist{
    width: 100%;
    height: 100%;
    flex-grow: 1;
}