.user-info-card{
    display: flex;
    width: 100%;
    padding-left: 40px;
    color: white;
    font-family: 'Tahoma';
    font-size: 10px;
}

.user-info-text{
    margin-left: 20px;
}

.user-info-text > img{
    margin-top: 6px;
    height: 20px;
}