.login-button{
    appearance: none;
    background-color: rgb(140, 102, 255);
    border: 0;
    border-radius: 4px;
    min-width: 120px;
    height: 35px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}