.download-panel-container{
    display: flex;
    background-color: rgba(0,0,0,0.2);
    margin-top: 30px;
    border-radius: 15px;
    align-items: center;
    padding: 10px 30px 10px 30px;
    width: calc(100% - 20px);
    font-family: 'Tahoma';
    color: white;
    font-size: 7px;
}

.download-panel-video-select{
    background-color: rgb(34, 34, 34);
    color: white;
    border: 0;
    border-radius: 2px;
    height: 30px;
    margin-right: 10px;
}

.download-panel-type-container{
    display: grid;
    column-gap: 7px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
    margin-right: 10px;
}

.download-panel-offset-container{
    display: flex;
    align-items: center;
}

.download-panel-offset-container > select, button{
    width: 100%;
}
