.download-panel-container{
    display: flex;
    background-color: rgba(0,0,0,0.2);
    margin-top: 30px;
    border-radius: 15px;
    align-items: center;
    padding: 10px 30px 10px 30px;
    width: calc(100% - 20px);
    font-family: 'Tahoma';
    color: white;
    font-size: 7px;
}

.download-panel-video-select{
    background-color: rgb(34, 34, 34);
    color: white;
    border: 0;
    border-radius: 2px;
    height: 30px;
    margin-right: 10px;
}

.download-panel-type-container{
    display: grid;
    column-gap: 7px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
    margin-right: 10px;
    height: 120px;
    transition: height 0.5s 0s;
}

.download-panel-type-container.downloading-grid{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    height: 60px;
}

.download-panel-type-container.downloading-grid > div{
    width: 0;
}

.download-panel-type-container.downloading-grid > .button-container{
    width: 150px;
}

.download-panel-offset-container{
    display: flex;
    align-items: center;
}

.download-panel-offset-container > i{
    width: 0px;
    visibility: hidden;
    height: 30px;
    font-size: 30px;
    margin-right: 10px;
}

.download-panel-offset-container > select, button{
    width: 100%;
}

.download-panel-offset-container > button{
    max-width: 100px;
}

.loader.loading{
    min-width: 20px;
    visibility: visible;
}

.loader,
.loader:after {
  border-radius: 50%;
  min-width: 0px;
  height: 20px;
  visibility: hidden;
}
.loader {
  position: relative;
  margin-right: 10px;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
