.beatmaplist-container{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.beatmaplist-list{
    overflow-y: scroll;
    height: 100%;
}

.beatmaplist-continue > h1{
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 15%;
}

.beatmaplist-continue{
    display: flex;
    justify-content: center;
    width: 100%;
}